.header-plus-bottom
  .flont-list-box
    .flont-list-box-btn
      = link_to  new_group_path , class: "new-group-btn contents" do
        グループ作成
      = link_to "#", class: "pict-tweet-btn contents" do
        写真投稿
      = link_to "#", class: "album-list-btn contents" do
        アルバム