* {
  box-sizing: border-box;
}


.wrapper{
  height:100vh;
  width:100%;
  position: relative;
  background-color: beige;
  .header-list{
    height:100vh;
    width:100%;
    
    .header-bar{
      height:120px;
      width:100%;
      display: flex;
      justify-content: space-between;
      background-color: #cd5c5c;
      .header-bar-name{
        color:beige;
        font-size: 50px;
        font-family: serif;
        line-height: 120px;
        margin-left: 30px;
      }
      .header-logout-btn{
        height:50px;
        width:250px;
        margin:60px 80px 0 0 ;
        display: flex;
        .logout-btn{
          font-size:25px;
          padding-left:20px;
          line-height:50px;
          text-decoration: none;
          display: block;
          color:beige;
          font-family: arial;
          background-color: #cd5c5c;
        }
        .logout-icon{
          width:20px;
          height:25px;
          .out-icon{
            text-decoration: none;
            display:inline-block;
            line-height: 50px;
            font-size:20px;
            margin-top:2px;
          }
        }
      }
    }
    .header-left{
      width:250px;
      height:calc(100% - 120px);
      background-color: #cd5c5c;
      float:left;
      text-align:center;
      .talk-btn-menber{
        height:60px;
        width:250px;
        display:flex;
        border-bottom:1px solid gray;
        background-color: #cd5c5c;
        .name{
          font-family: monospace;
          font-size:25px;
          line-height: 55px;
          .name-btn{
            display: inline-block;
            text-decoration: none;
            color:beige;
            background-color: #cd5c5c;
          }
        } 
        .setting-btn{
          .user-icon{
            display:inline-block;
            line-height:60px;
            text-decoration: none;
            color: black;
            padding-left:80px;
            padding-right:20px;           
          }
        }       
      }
        .group-name{
          color: beige;
          font-size:20px;
          display: inline-block;
          text-decoration: none;
          font-family: monospace;
          padding-bottom:10px;
          letter-spacing: 3px;
          background-color: #cd5c5c;

        }
      .talk-content{
        display: flex;
        width:250px;
        height:70px;
        .talk-icon{
          font-size:20px;
          display: inline-block;
          text-decoration: none;
          line-height: 70px;
          padding-left:70px;
          padding-right:30px;
          margin-top:2px;
        }
        .talk-btn-list{
          font-size: 25px;
          display: inline-block;
          text-decoration: none;
          color: beige;
          line-height: 70px;
          font-family: monospace;
          background-color: #cd5c5c;
        }
      }
      .pict-list{
        display: flex;
        width:250px;
        height:70px;
        .pict-icon{
          font-size:20px;
          display: inline-block;
          text-decoration: none;
          line-height: 70px;
          padding-left:50px;
          padding-right:30px;
          margin-top:1px;
        }
        .photo-submission{
          font-size: 25px;
          display: inline-block;
          text-decoration: none;
          color: beige;
          line-height: 70px;
          font-family: monospace;
          background-color: #cd5c5c;
        }
      }
    }
    .header-right{
      width:500px;
      height:calc(100% - 120px);
      float:right;
      background-color:white;
      position: relative;
      .calender-name{
        height:60px;
        width:500px;
        border-bottom:1px solid gray;
        background-color: #cd5c5c;
        position: relative;
        #calendar {
          position: absolute;
          margin: 0 auto;
          width: 460px;
          text-align: center;
          top: 90px;
          bottom: 0;
          left: 0;
          right: 0;
         }
      }
    }
  }
  .main-talk-list{
    height:calc(100% - 120px);
    width:calc(100% - 750px);
    position: absolute;
    top:120px;
    right:500px;
    left:250px;
    bottom:0;
    .main-talk-message{
      height:calc(100vh - 120px);
      width:100%;
      background-color: beige;
      position: relative;
      
      .message-form-input{
        height:100px;
        width:100%;
        background-color:white;
        border: 1px solid gray;
        position: absolute;
        bottom: 0;
        form {
          margin-top:25px;
          margin-left:100px;
          display:flex;
          .input-box{
            width:600px;
            display:flex;
            position: relative;
            border:1px solid gray;
            .form__message{
              height: 50px;
              width:600px;
              color: #434a54;
              border-style: none;
              padding: 0 40px 0 10px;
              line-height: 100px;
            }
            .form__mask__image{
              cursor:pointer;
              font-size: 1.3rem;
              position: absolute;
              top:10px;
              right:10px;
  
              .hidden{
                display:none;
              }
            }
          }
        } .submit-btn{
            width:100px;
            height:50px;
            padding: 0 30px;
            margin-left: 15px;
            background-color: #38aef0;
            color: white;
            cursor: pointer;
        }
      }
      .main-group-name{
        height:60px;
        width:100%;
        border-bottom:1px solid gray;
        background-color: #cd5c5c;
        .name{
          width:400px;
          height:60px;
          font-family: monospace;
          font-size:30px;
          margin-left: 10px;
          padding-top:20px;
          .edit-group-path{
            display: inline-block;
            text-decoration: none;
            color: beige;
            background-color: #cd5c5c;
          }
        }
      }
      .upper-message{
        display:flex;
        padding-top:35px;
        .upper-message__user-name{
          font-size:14px;
          color:#333333;
          margin-bottom:12px;
          margin-right:5px;
          margin-left:10px;
        }
        .upper-message__date{
          font-size:12px;
          color:#999999;
          margin-top:1px;
        }
      }
      .lower-message{
        font-size:14px;
        color:#434a54;
        margin-bottom:11px;
        margin-left:10px;
      }
    }
  }
  .header-plus{
    width:calc(100% - 750px);
    height:60px;
    position: absolute;
    top:120px;
    right:500px;
    left:250px;
    background-color:#cd5c5c;
    border-bottom:1px solid gray;
  }  
  .header-plus-bottom{
    width:calc(100% - 750px);
    height:60px;
    position: absolute;
    top:180px;
    right:500px;
    left:250px;
    background-color: beige;
    .flont-list-box{
      width:700px;
      height:687px;
      background-color: beige; 
      margin: auto;
      text-align: center;
      position: relative;
      .flont-list-box-btn{
        width:100%;
        height:500px;
        position: absolute;
        top:0;
        right:0;
        left:0;
        bottom:0;
        margin: auto;
        background-color: beige;
        flex-direction: column;
        .contents{
          margin-bottom:40px;
          display:block;
          text-decoration: none;
          border:1px solid gray;
          border-radius: 15px;
          margin-left:200px;
          width:300px;
          height:40px;
          font-size:20px;
          letter-spacing: 2px;
          line-height: 40px;
          color:beige;
          
        }
        .new-group-btn{
          margin-top:120px;
          background-color: #d65f4c;
        }
        .pict-tweet-btn{
          background-color: #d65f4c;
        }
        .album-list-btn{
          background-color: #d65f4c;

        }
      }
    }
  }
}