.events{
  background-image: url('/assets/sia.jpg');
  color:white;
  .events-btn-list{
    color:#B0C4DE;
    display: inline-block;
    text-decoration: none;
    padding-right:20px;
    padding-left:10px;
    background-color: azure;
    border-radius: 10px;
  }
  .new-events{
    color: #B0C4DE;
    display: inline-block;
    text-decoration: none;
    padding-left:10px;
  }
}