.wrapper{
  background-image: url('/assets/sia.jpg');
  background-size:100% 100%;
}
.header-bar{
  background-color: #f0ffff;
  height:140px;
  width:100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  .header-bar-name{
    color:#B0C4DE;
    font-size: 50px;
    font-family: serif;
    line-height: 120px;
    margin-left: 30px;
  }
  .header-logout-btn-lists{
    height:120px;
    width:340px;
    margin-right:60px;
    display: flex;
    flex-direction: column;
    .header-logout-top{
      display: flex;
      height:60px;
      width:300px;
      margin-top:10px;
      .logout-top-icon-btn{
        width:20px;
        height:25px;
        .top-logout-icon{
          text-decoration: none;
          display:inline-block;
          line-height: 60px;
          font-size:20px;
          color:black;
        }
      }
      .logout-btn-btn{
        font-size:20px;
        padding-left:38px;
        line-height:60px;
        .my-page{
          display:block;
          text-decoration: none;
          color:#B0C4DE;
          font-family: arial;
          height:0;
        }
      }
      .blog-you-name{
        font-size:25px;
        padding-left:40px;
        line-height:60px;
        letter-spacing: 4px;
        color:#B0C4DE;
        font-family: arial;
      }
      .blog-user-icon{
        padding-top:18px;
        text-decoration: none;
        display:inline-block;
        line-height: 30px;
        font-size:20px;
        color:black;
      }
      .talk-btn-list{
        font-size:20px;
        font-family: arial;
        display: inline-block;
        text-decoration: none;
        color:#B0C4DE;
        height:0;
      }
    }
    .header-top-page{
      display: flex;
      height:30px;
      width:300px;
      .top-icon{
        width:20px;
        height:25px;
        .toppage-icon{
          text-decoration: none;
          display:inline-block;
          line-height: 30px;
          font-size:20px;
          color:black;
        }
      }
      .top-btn{
        font-size:20px;
        padding-left:38px;
        line-height:30px;
        
        .talk-btn-list{
          display:block;
          text-decoration: none;
          color:#B0C4DE;
          font-family: arial;
          height:0;
        }
      }
    }
  }
}
.tweet-contents{
  width:100%;
  height:calc(100vh - 140px);
  display: flex;
  position: relative;
  background-color: #f0ffff;
  .contents-post-list{
    width:520px;
    height:550px;
    background-color: azure;
    margin:120px 10px 0  10px; 
    display: flex;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: cadetblue;
    .contents-posts{
      width:210px;
      height:600px;
      flex-direction: column;
      .tweet-text-title1{
        width:200px;
        height:30px;
        border-radius:3px;
        font-size: 16px;
        line-height:30px;
        font-family: monospace;
        margin-left:12px;
        margin-top: 25px;
        color:#B0C4DE;
        
      }
      .tweet-text1{
        width:494px;
        height:40px;
        background-color: white;
        font-family: monospace;
        border-radius:6px;
        margin-left:12px;
        margin-bottom:40px;
        padding-top:10px;
      }
    
      .tweet-text-title2{
        width:200px;
        height:30px;
        border-radius:3px;
        font-size: 16px;
        line-height:30px;
        font-family: monospace;
        margin-left:12px;
        color:#B0C4DE;
      }
        .tweet-text2{
          width:494px;
          height:350px;
          background-color: white;
          font-family: monospace;
          border-radius:6px;
          margin-left:12px;
        }
     }
  }
  .page{
    position: absolute;
    width:550px;
    height:40px;
    top:730px;
    right:0px;
    text-align: center;
    color:white;
    .pagination{
      display: flex;
      height:0;
      line-height: 30px;
      .page-link{
        color:white;
        height:0;
        padding-right:5px;
        text-decoration: none;
        font-size:18px;
      }
    }
  }
}
.tweets-bar{
  background-color: #f0ffff;
  width:100%;
  height:calc(100% - 140px);
  position: relative;
  .vlog-lists{
    width:800px;
    height:750px;
    background-color: cadetblue;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    border-radius: 40px;
    border: 1px solid gray;
    .vlog-form{
      width:250px;
      height:50px;
      margin-left:275px;
      line-height:50px;
      font-size:18px;
      color:#B0C4DE;
      padding-left:95px;
      border-radius:20px;
      margin-top:20px;
    }
    .vlog-form-input{
      width:700px;
      height:550px;
     
      margin-left:50px;
      margin-top:20px;
      border-radius: 10px;
      .input-contents{
        width:600px;
        height:80px;
        margin-left:50px;
        margin-top:20px;
        .text-input-label{
          width:200px;
          height:30px;
          font-size: 18px;
          font-family: monospace;
          color:#B0C4DE;
          line-height:30px;
          padding-left:20px;
        }
        .field-input {
          input {
            height:40px;
            width: 600px;
            padding: 10px;
            letter-spacing: 1px;
            font-family: monospace;
            border-radius: 5px;
            border:2px solid gray;
            font-size:15px;
          }
        }
      }
      .input-contents-area{
        height:450px;
        width:600px;
        margin-left:50px;
        .text-input-label{
          width:200px;
          height:30px;
      
          font-size: 18px;
          font-family: monospace;
          color:#B0C4DE;
          line-height:30px;
          padding-left:20px;
        }
        .input{
          .textarea{

          }
        }
      }
      .submit-contents{
        width:250px;
        height:50px;
        margin-left:230px;
        line-height:50px;
        font-size:20px;
        margin-top:30px;
        .actions{
          padding-left:80px;
          .toukou-btn-btn{
            width:100px;
            background-color: cadetblue;
            font-family: monospace;
            border:none;
            color:#B0C4DE;
          }
        }
      }
    }
  }
}
.create{
  width:100%;
  height:100vh;
  background-image: url('/assets/sia.jpg');
  background-size: 100% 100%;
  position: relative;
  .create-contents{
    width:500px;
    height:300px;
    border-radius: 10px;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:100px;
    margin:auto;
    background-color: azure;
    .top-page-link-btn{
      width:270px;
      height:40px;
      margin-top:60px;
      margin-bottom:20px;
      margin-left:120px;
      border-radius: 8px;
      .talk-btn-list{
        font-size:20px;
        line-height:40px;
        padding-left:75px;
        display: block;
        text-decoration: none;
        color:#B0C4DE;
        height:0;
      }
    }
    .top-vlog-link-btn{
      width:270px;
      height:40px;
      margin-left:120px;
      border-radius: 8px;
      .talk-btn-list{
        font-size:20px;
        line-height:40px;
        padding-left:80px;
        display: block;
        text-decoration: none;
        color:#B0C4DE;
        height:0;
      }
     }
      .top-my-link-btn{
        width:270px;
        height:40px;
        margin-left:125px;
        border-radius: 8px;
        margin-top:20px;
        .talk-btn-lists{
          font-size:20px;
          line-height:40px;
          padding-left:75px;
          display: block;
          text-decoration: none;
          color:#B0C4DE;
          height:0;
        }
      }
    
  }
}
